* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    min-height: 100vh;
    background-color: #FAFAFA;
    padding-top: 64px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1111px;
    min-height: 32px;
    margin-bottom: 54px;

}

header a {
    text-decoration: none;
    margin-right: 42px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #33323D;
}

header a:focus {
    color: #5FB4A2;
}

.contato-section {
    width: 1111px;
    height: 84px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

.contato-section span {
    width: 367px;
    line-height: 42px;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 40px;
    color: #33323D;
}



footer {
    display: flex;
    justify-content: space-between;
    min-width: 1440px;
    background-color: #33323D;
    padding: 24px 165px;
}

.caixa-1 {
    display: flex;
    align-items: center;
}

.caixa-1 img {
    margin-right: 48px;
}

.links-footer a {
    text-decoration: none;
    margin-right: 42px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.caixa-2 img {
    margin-right: 16px;
}